body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.review-calculation{
    padding: 64px 0;
    min-width: 100vw;
    min-height: 100vh;
    background: #F3F4F6;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-cal-container{
    background: #fff;
    max-width: 700px;
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding: 32px;
    border-radius: 16px;
}

/* Left Section */
.review-cal-left{
    width: 55%;
    padding-right: 16px;
}

.review-cal-left-card{
    margin-top: 16px;
    background: #F3F4F6;
    border-radius: 8px;
    padding: 16px;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
}

.review-cal-left-card:first-child {
    margin-top: 0; 
}

.review-cal-left-card-top{
    display: flex;
    align-items: center;
}

.review-cal-left-card-top-icon{
    margin-right: 4px;
    height: 28px;
    width: 28px;
}

.review-cal-left-card-top-txt{
    font-size: 17px;
    font-weight: 600;
}

.review-cal-left-card-range {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.review-cal-left-card-range-left input{
    cursor: pointer;
    width: 180px;
}

.review-cal-left-card-range-right input {
    width: 80px;
    outline: none;
    background: #fff;
    padding: 4px;
    padding-left: 16px;
    border: 2px solid #c8cacf;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

.review-cal-left-toggle{
    margin-top: 32px;
    display: flex;
    align-items: center;
}

.review-cal-toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.review-cal-toggle {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 15px;
}
  
.review-cal-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.review-cal-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 17px;
    transition: 0.4s;
}
  
.review-cal-slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    bottom: 1px;
    background-color: #fff;
    border: 1px solid rgb(216, 211, 211);
    border-radius: 50%;
    transition: 0.4s;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,1);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,1);
}
  
.review-cal-toggle input:checked + .review-cal-slider {
    background-color: #005DC8;
}
  
.review-cal-toggle input:checked + .review-cal-slider:before {
    transform: translateX(26px);
}
  
.review-cal-toggle-card {
    display: none;
}
  
.review-cal-toggle-active-card {
    display: block;
}

.review-cal-left-toggle-txt{
    color: gray;
    font-size: 15px;
    font-weight: 500;
    padding-left: 12px;
}

.toggle-card {
    display: none;
}

.toggle-card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    background: #F3F4F6;
    border-radius: 8px;
    padding: 20px;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
}

.toggle-card-left{
    font-size: 17px;
    font-weight: 600;
}

.toggle-card-star {
    color: #ffc107;
    padding: 0 1px;
    font-size: 17px;
}
  
.toggle-card-right input{
    width: 80px;
    outline: none;
    background: #fff;
    padding: 4px;
    padding-left: 16px;
    border: 2px solid #c8cacf;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}
  

/* Right Section */
.review-cal-right{
    border-left: 2px solid #c8cacf;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-cal-toggle-card-container{
    width: 100%;
    padding-left: 16px;
}

.review-cal-right-card{
    width: 80%;
    max-width: 220px;
    /* max-height: 180px; */
    padding: 24px;
    border-radius: 16px;
    border: 1px solid #eaebee;
    -webkit-box-shadow: 7px 9px 7px 0px rgba(200,202,207,1);
    -moz-box-shadow: 7px 9px 7px 0px rgba(200,202,207,1);
    box-shadow: 7px 9px 7px 0px rgba(200,202,207,1);
}

.review-cal-right-card-top{
    display: flex;
    color: gray;
    font-weight: 600;
    justify-content: center;
}

.review-cal-right-card-top-value{  
    color: #4051B5;
    padding: 0 4px;
    font-size: 16px;
}

.review-cal-right-card-bottom{
    margin-top: 16px;
    border-top: 1px solid #eaebee;;
}

.review-cal-right-card-bottom-txt{
    display: flex;
    color: gray;
    padding-top: 16px;
    font-weight: 600;
    font-size: 16px;
    justify-content: center;
}

.review-cal-right-card-bottom-value{
    padding-top: 8px;
    color: #33AE5E;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.review-cal-right-card-bottom-stars{
    padding-top: 4px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.review-cal-right-card-bottom-star{
    display: inline-block;
    color: #ffc107;
    padding: 0 2px;
}

.review-cal-right-card-bottom-text{
    display: flex;
    color: gray;
    padding-top: 4px;
    font-weight: 600;
    font-size: 16px;
    justify-content: center;
}

.review-cal-right-card-bottom-text-value{
    color: #FC913C;
    padding: 0 4px;
    font-size: 16px;
}

.color-FC913C{
    color: #FC913C;
}

.color-9CA3AF{
    color: #9CA3AF;
}





/* Responsive */
@media (max-width: 800px) {
    .review-calculation{
        min-height: auto;
    }
    .review-cal-container{
        /* flex-direction: column-reverse; */
        flex-direction: column;
    }
    .review-cal-left{
        width: 100%;
        padding-right: 0;
    }
    .review-cal-left-card-range-left input{
        width: 250px;
    }
    .review-cal-left-toggle{
        margin-top: 32px;
        margin-bottom: 32px;
        justify-content: center;
    }  
    .toggle-card-container{
        margin-bottom: 40px;
    }
    .review-cal-right{
        border-left: none;
        width: 100%;
    }
    .review-cal-toggle-card-container{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .review-cal-toggle-card{
        width: 100%;
    }
    .review-cal-right-card{
        margin: 0;
        width: auto;
        max-width: 100%;
        padding: 24px;
        border: none;
        box-shadow: none;
        -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    }

}

@media (max-width: 640px) {
    .review-cal-left-card-range-left input{
        width: 250px;
    }
}

@media (max-width: 500px) {
    .review-cal-left-card-range {
        flex-direction: column;
        align-items: flex-start;
    }
    .review-cal-left-card-range-left{
        margin-top: 8px;
    }
    .review-cal-left-card-range-right{
        margin-top: 10px;
    }
    
}

@media (max-width: 480px) {
    .toggle-card-right input{
        padding-left: 8px;
    }
    .review-cal-left-card-range-right input {
        padding-left: 4px;
    }
    
}

@media (max-width: 350px) {
    .review-cal-left-card-range-left input{
        width: 200px;
    }
}
