body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.rvwCaltn {
    padding: 64px 0;
    min-width: 100vw;
    min-height: 100vh;
    background: #F3F4F6;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rvwCaltn-container {
    background: #fff;
    max-width: 700px;
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding: 32px;
    border-radius: 16px;
}

/* Left Section */
.rvwCaltn-left {
    width: 55%;
    padding-right: 16px;
}

.rvwCaltn-left-card {
    margin-top: 16px;
    background: #F3F4F6;
    border-radius: 8px;
    padding: 16px;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
}

.rvwCaltn-left-card:first-child {
    margin-top: 0; 
}

.rvwCaltn-left-card-top {
    display: flex;
    align-items: center;
}

.rvwCaltn-left-card-top-icon {
    margin-right: 4px;
    height: 28px;
    width: 28px;
}

.rvwCaltn-left-card-top-txt {
    font-size: 17px;
    font-weight: 600;
}

.rvwCaltn-left-card-range {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.rvwCaltn-left-card-range-left input {
    cursor: pointer;
    width: 180px;
}

.rvwCaltn-left-card-range-right input {
    width: 80px;
    outline: none;
    background: #fff;
    padding: 4px;
    padding-left: 16px;
    border: 2px solid #c8cacf;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

.rvwCaltn-left-toggle {
    margin-top: 32px;
    display: flex;
    align-items: center;
}

.rvwCaltn-toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rvwCaltn-toggle {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 12px;
}

.rvwCaltn-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.rvwCaltn-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 17px;
    transition: 0.4s;
}

.rvwCaltn-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    bottom: -4px;
    background-color: #fff;
    border: 1px solid rgb(216, 211, 211);
    border-radius: 50%;
    transition: 0.4s;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
}

.rvwCaltn-toggle input:checked + .rvwCaltn-slider {
    background-color: #4051B4;
}

.rvwCaltn-toggle input:checked + .rvwCaltn-slider:before {
    transform: translateX(20px);
}

.rvwCaltn-toggle-card {
    display: none;
}

.rvwCaltn-toggle-active-card {
    display: block;
}

.rvwCaltn-left-toggle-txt {
    color: gray;
    font-size: 15px;
    font-weight: 500;
    padding-left: 12px;
}

.toggle-card {
    display: none;
}

.toggle-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    background: #F3F4F6;
    border-radius: 8px;
    padding: 20px;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
}

.toggle-card-left {
    font-size: 17px;
    font-weight: 600;
}

.toggle-card-star {
    color: #ffc107;
    padding: 0 1px;
    font-size: 17px;
}

.toggle-card-right input {
    width: 80px;
    outline: none;
    background: #fff;
    padding: 4px;
    padding-left: 16px;
    border: 2px solid #c8cacf;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

/* Right Section */
.rvwCaltn-right {
    border-left: 2px solid #c8cacf;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rvwCaltn-toggle-card-container {
    width: 100%;
    padding-left: 16px;
}

.rvwCaltn-right-card {
    width: 80%;
    max-width: 220px;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid #eaebee;
    -webkit-box-shadow: 7px 9px 7px 0px rgba(200,202,207,1);
    -moz-box-shadow: 7px 9px 7px 0px rgba(200,202,207,1);
    box-shadow: 7px 9px 7px 0px rgba(200,202,207,1);
}

.rvwCaltn-right-card-top {
    display: flex;
    color: gray;
    font-weight: 600;
    justify-content: center;
}

.rvwCaltn-right-card-top-value {
    color: #4051B5;
    padding: 0 4px;
    font-size: 16px;
}

.rvwCaltn-right-card-bottom {
    margin-top: 16px;
    border-top: 1px solid #eaebee;
}

.rvwCaltn-right-card-bottom-txt {
    display: flex;
    color: gray;
    padding-top: 16px;
    font-weight: 600;
    font-size: 16px;
    justify-content: center;
}

.rvwCaltn-right-card-bottom-value {
    padding-top: 8px;
    color: #33AE5E;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.rvwCaltn-right-card-bottom-stars {
    padding-top: 4px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.rvwCaltn-right-card-bottom-star {
    display: inline-block;
    color: #ffc107;
    padding: 0 2px;
}

.rvwCaltn-right-card-bottom-text {
    display: flex;
    color: gray;
    padding-top: 4px;
    font-weight: 600;
    font-size: 16px;
    justify-content: center;
}

.rvwCaltn-right-card-bottom-text-value {
    color: #FC913C;
    padding: 0 4px;
    font-size: 16px;
}

.color-FC913C {
    color: #FC913C;
}

.color-9CA3AF {
    color: #9CA3AF;
}

/* Responsive */
@media (max-width: 800px) {
    .rvwCaltn {
        min-height: auto;
    }
    .rvwCaltn-container {
        flex-direction: column;
    }
    .rvwCaltn-left {
        width: 100%;
        padding-right: 0;
    }
    .rvwCaltn-left-card-range-left input {
        width: 250px;
    }
    .rvwCaltn-left-toggle {
        margin-top: 32px;
        margin-bottom: 32px;
        justify-content: center;
    }
    .toggle-card-container {
        margin-bottom: 40px;
    }
    .rvwCaltn-right {
        border-left: none;
        width: 100%;
    }
    .rvwCaltn-toggle-card-container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .rvwCaltn-toggle-card {
        width: 100%;
    }
    .rvwCaltn-right-card {
        margin: 0;
        width: auto;
        max-width: 100%;
        padding: 24px;
        border: none;
        box-shadow: none;
        -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    }
}

@media (max-width: 640px) {
    .rvwCaltn-left-card-range-left input {
        width: 250px;
    }
}

@media (max-width: 500px) {
    .rvwCaltn-left-card-range {
        flex-direction: column;
        align-items: flex-start;
    }
    .rvwCaltn-left-card-range-left {
        margin-top: 8px;
    }
    .rvwCaltn-left-card-range-right {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .toggle-card-right input {
        padding-left: 8px;
    }
    .rvwCaltn-left-card-range-right input {
        padding-left: 4px;
    }
}

@media (max-width: 350px) {
    .rvwCaltn-left-card-range-left input {
        width: 200px;
    }
}

/* Style for the track bar */
input[type="range"] {
    height: 6px;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 6px;
}

/* Style for the thumb (circle) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4051B4;
    border: 1px solid #4051B4;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.range-container {
    display: flex;
    align-items: center;
}

.range-value {
    margin-left: 10px;
}

input[type="range"]::-webkit-slider-thumb:hover {
    -webkit-box-shadow: 0px 0px 12px 3px rgba(63,83,181,1);
    -moz-box-shadow: 0px 0px 12px 3px rgba(63,83,181,1);
    box-shadow: 0px 0px 12px 3px rgba(63,83,181,1);
}
